.mainFormContainer{
    display: flex;
    padding: 30px;
    background-color: #EEEEEE;
}

.infoFromContainer{
    font-family: Arial;
    margin: auto;
    background-color: #439A97;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: #EEEEEE;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.error{
    color: rgb(255, 35, 35);
    background-color: #DDDDDD;
    border-radius: 5px;
}

.detailBackButton{
    background-color: #439A97;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    color: #EEEEEE;
}

.detailBackButton:hover{
    background-color: #DDDDDD;
    color: #439A97;
    border: 1px;
    border-color: red;
}

.detailButton{
    padding: 10px;
    background-color: #EEEEEE;
    color: teal;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.detailButton:hover{
    background-color: teal;
    color: #EEEEEE;
}

.detailButton:disabled{
    color: #808080;
}

.detailButton:disabled:hover{
    background-color: #EEEEEE; 
}

.countriesContainer{
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.countriesCodes{
    background-color: #DDDDDD;
    color: black;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    gap: 1em;
}

.buttonCountry{
    border: none;
    background-color: #439A97;
    border-radius: 10px;
    color: #EEEEEE;
}

.buttonCountry:hover{
    background-color: #EEEEEE;
    color: red;
}

.inputForm{
    border-radius: 10px;
    font-size: 15px;
}

.divFields{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;

}