.card{
    background-color: #DDDDDD;
    height: fit-content ;
    border-radius: 10px;
    text-align:center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: arial;
}

.card:hover{
    box-shadow: none;
}

img{
    border-radius: 20px;  
}
