html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./backgroundmap.jpg');
    background-color: #EEEEEE;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.searchAdd{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
    background-color: teal;
    align-items: center;
    justify-content: center;
}



#createButton{
    background-color: #97DECE;
    font-size: 17px;
    border: none;
    color: teal;
    border-radius: 15px;
    padding: 9px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#createButton:hover{
    background-color: #DDDDDD;
    color: #439A97;
}

#notFoundCountryAd{
    text-align: center;
    border-radius: 10px;
    font-family: arial;
    display: flex;
    color: #EEEEEE;
    justify-content: center;
    text-shadow: 0 0 30px black;
}